<?xml version="1.0"?>

<launch>
  <arg name="fcu_url" default="/dev/ttyUSB0:921600"/>
  <arg name="gcs_url" default="udp://14555@localhost:14550"/>

  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/> 
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <arg name="use_allocator_output" default="true"/> <!-- Skye -->
  <arg name="use_urdf" default="true"/>

  <!-- Inflate Skye in Gazebo -->
  <include file="$(find skye_ros)/launch/inflate_skye.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="use_urdf" value="$(arg use_urdf)"/>
  </include>

  <!-- Include spacenav_nod for 3d mouse -->
  <include file="$(find spacenav_node)/launch/classic.launch">
  </include>

  <!-- Start "mavros_node" -->
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="$(arg fcu_url)" />
    <arg name="gcs_url" value="$(arg gcs_url)" />
    <arg name="skye_configuration" value="$(find mavros)/launch/skye_configuration.yaml" /> <!-- Skye -->
    <arg name="use_allocator_output" value="$(arg use_allocator_output)" /> <!-- Skye -->
  </include> 

</launch>
